@model EduPortalV2.Models.Course

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-info"><strong>Kurs Detay Sayfası</strong></div>

<div>
    <h4>Kurs Detayı</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CuotaCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CuotaCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceDaily)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceDaily)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VideoUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VideoUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocumentUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocumentUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Educator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Educator.NameSurname)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Düzenle</a> |
    <a asp-action="Index">Kurs Listesine Dön</a>
</div>
