@model EduPortalV2.Models.Educator

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-info"><strong>Eğitmen Detay Sayfası</strong></div>

<div>
    <h4>Eğitmen</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameSurname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameSurname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EducationType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EducationType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Düzenle</a> |
    <a asp-action="Index">Eğitmen Listesine Dön</a>
</div>
